<div id="job_actions">
    <h3>Admin</h3>
    <ul>
        {% if not job.isActivated %}
            <li><a href="{{ path('ibw_job_edit', { 'token': job.token }) }}">Edit</a></li>
            <li>
                {{ form_start(publish_form, {'action': path('ibw_job_publish', { 'token': job.token }), 'method': 'post'} ) }}
                    {{ form_widget(publish_form) }}
                    <input type="submit" value="Publish" />
                {{ form_end(publish_form) }}
            </li>
        {% endif %}
        <li>
            <form action="{{ path('ibw_job_delete', { 'token': job.token }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" onclick="if(!confirm('Are you sure?')) { return false; }">Delete</button>
            </form>

            {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
            {{ form_end(delete_form) }}
        </li>
        {% if job.isActivated %}
            <li {% if job.expiresSoon %} class="expires_soon" {% endif %}>
                {% if job.isExpired %}
                    Expired
                {% else %}
                    Expires in <strong>{{ job.getDaysBeforeExpiration }}</strong> days
                {% endif %}

                {% if job.expiresSoon %}
                    {{ form_start(extend_form, {'action': path('ibw_job_extend', {'token': entity.token}), 'method': 'post'}) }}
                        {{ form_widget(extend_form) }}
                        <input type="submit" value="Extend"/>
                    {{ form_end(extend_form) }}
                {% endif %}
            </li>
        {% else %}
            <li>
                [Bookmark this <a href="{{ url('ibw_job_preview', { 'token': job.token, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">URL</a> to manage this job in the future.]
            </li>
        {% endif %}
    </ul>
</div>